.wrapper {
  background-image: url(https://previews.123rf.com/images/yamabikay/yamabikay1711/yamabikay171100291/90612605-green-grassy-background-with-glitter-high-resolution-photo-.jpg);
  background-size: cover;
  height: 100vh; 
  overflow: hidden;
}
