.card {
  background:#ccc;
  border-style: solid;
  border-width: 5px;
  border-color: #45C954;
  border-radius: 2px;
  height: 250px;
  margin: 1rem;
  width: 325px;
  text-align: center;
}

.img-container {
  height: 60%;
  padding-bottom: 15px;
  margin-top: 0;
  overflow: hidden;
  cursor: pointer;
}

.img-container:hover {
  background:#999;
}

img {
  height: 80%;
    transform: scale(1.8);
    background-size: cover;
    background-position: center;
}

.content {
  background:#5E12A9;
  color: white;
  font-size: 12px;
  height: 75px;
  padding-top: 10px;
  line-height: 24px;
}

.soundName {
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  position: relative;
  bottom: 34px;
  cursor: pointer;
}

.soundDate {
  color: #C4C059;
}

.soundUploader {
  color: #45C954;
}








