.scroll {
  background-color: brown;
  background-size: cover;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  padding: 0px;
  justify-content: space-around;
  align-content: flex-start;
  overflow-y: scroll;
}

@media only screen and (max-width: 500px){ /* adds mobile responsivity */
 
.scroll {
height: 83%;
}
   
  }
