.superNav {
    width: 100%;
    border-style: solid;
    padding: 2px;


}

.navText { 
width: 200px;

font-size: 25px;
border-style: solid;
border-width: 2px;

}

.searchBox {

    text-align: center;
    border-style: solid;
    border-width: 2px;
    border-color: maroon;
    background-color: magenta;
    width: 250px;
}

.searchText {
    font-size: 25px;
    display: inline-block;
    text-align: center;
    border-style: solid;
    border-width: 2px;
}